<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listings</title>
</head>
<body>
  <h1>Listings EJS</h1>
  <form method="get" action="http://localhost:8080/listings/new">
    <button type="submit">Create a new Listing</button>
  </form>
  <% for (const list of listings) { %>
    <div style="margin-bottom: 1rem; background-color: lightblue;">
      <p><%=list.title%></p>
      <p><%=list.image.filename%></p>
      <img src="<%=list.image.url%>" style="width: 300px" />
      <% if (list.price) { %>
      <p><%=list.price.toLocaleString("en-IN")%> &#8360;</p>
      <% } %>
      <p><%=list.location%></p>
      <p><%=list.country%></p>
      <form method="get" action="http://localhost:8080/listings/<%=list._id%>/show">
        <button type="submit">Detail</button>
      </form>
      <form method="get" action="http://localhost:8080/listings/<%=list._id%>/edit">
        <button type="submit">Edit</button>
      </form>
      <form method="post" action="http://localhost:8080/listings/<%=list._id%>?_method=DELETE">
        <button type="submit">Delete Listing</button>
      </form>
    </div>
  <% } %>
</body>
</html>
